#popup {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 10px;
  background-color: black !important;
  width: 500px;
  height: 300px;
}

h2 {
  font-size: 16px;
  margin-bottom: 10px;
  color: silver
}

button {
  padding: 8px 16px;
  font-size: 14px;
  color: silver
}

/* When the checkbox is checked, change the background color */
input:checked + .slider {
  background-color: #4CAF50;
}

/* Move the slider to the right when checked */
input:checked + .slider:before {
  transform: translateX(26px);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 30px; /* Adjust the icon size */
  padding: 0;
}

p {
  color: silver 
}